.jumbotron {
    font-family: 'Modak', cursive;
    background-color: darkmagenta;
}
h1 {
    font-size: 50px;
}
.card {
    margin-bottom: 10px;
}
.card-title{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font: bold;
}
.card-body {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.edit {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-top: 20px;
}
.form-group {
    padding: 5px;
}
label {
    padding-right: 3px;
}
.radio {
    padding-left: 5px;
}
.edit1 {
    float: left;
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.btn {
    margin-bottom: 20px;
    margin-left: 40%;
}
#results {
    padding-bottom: 75px;
}
.edit2 {
    background-color: darkmagenta;
}